.Body
  .main-wrapper
    .main-wrapper__search
      .main-wrapper__search__box
        カテゴリーを検索する
      .main-wrapper__search__btn
        検索
    .main-wrapper__btn
      .main-wrapper__btn__registration
        アイデア新規登録
      .main-wrapper__btn__full
        アイデア一覧



