.partial-contents
  .contents-wrapper
    .contents-wrapper__form
      %h2 検索結果
      .contents-wrapper__form__set
        - @categories.each do |category|
          .contents-wrapper__form__set__box
            .contents-wrapper__form__set__category
              = category.name
            .contents-wrapper__form__set__idea
              - category.ideas.each do |idea|
                = idea.body