.full-contents
  .contents-wrapper
    .contents-wrapper__form
      .contents-wrapper__form__set
        .contents-wrapper__form__set__category
          メモ術
        .contents-wrapper__form__set__idea
          箇条書きがお勧め
        .contents-wrapper__form__set__category
          節約術
        .contents-wrapper__form__set__idea
          家計簿をつけるといい
