.registration
  .contents-wrapper
    .contents-wrapper__form
      .contents-wrapper__form__set
        .contents-wrapper__form__set__information
          カテゴリ
        .contents-wrapper__form__set__information
          アイデア
        .contents-wrapper__form__set__btn
          登録
